.bg-pistache {
    background-color: #97D969;
}

.bg-pistache:hover {
    background-color: #8ec06b;
}

.a-boton {
    color:#000000
}

.a-boton:hover {
    color:#000000
}

body {
    background-color: #000000;
}

h1 {
  font-size: 148px;
}

h2 {
  font-size: 56px;
}