@font-face {
  font-family: 'affinity';
  src: url('../fonts/affinity.woff') format('woff');
}

@font-face {
  font-family: 'canva-sans';
  src: url('../fonts/canva-sans-regular.otf') format('woff');
}

.bg-pistache {
    background-color: #97D969;
}

.bg-pistache:hover {
    background-color: #8ec06b;
}

.a-boton {
    color:#000000
}

.a-boton:hover {
    color:#000000
}

body {
    background-color: #000000;
    font-family: 'canva-sans';
}


.titulo-principal {
    font-family: 'affinity', sans-serif;
    font-size: 148px;
}

.titulo-secundario {
    font-family: 'affinity', sans-serif;
    font-size: 56px;
}